/Jero.xcodeproj/project.xcworkspace/xcuserdata/l3gd.xcuserdatad/UserInterfaceState.xcuserstate
Jero.xcworkspace/xcuserdata*
Jero.xcworkspace/xcshareddata/*
/Pods/Pods.xcodeproj/xcuserdata/l3gd.xcuserdatad/xcschemes/Pods-Jero.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/l3gd.xcuserdatad/xcschemes/xcschememanagement.plist
/Jero.xcodeproj/xcuserdata/l3gd.xcuserdatad/xcschemes/xcschememanagement.plist
xcuserdata
.DS_Store
